@import url(https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext);
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
.box {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid rgb(239, 239, 239);
    height: 300px;
    overflow: visible;
}
.table tbody tr:hover {
    background-color: #fff !important;
}
.navbar {
    font-family: 'Open Sans', sans-serif;
    padding:1.5rem;
}
.bg-faded {
    background-color:#3A94E0;
}
.bg-faded a {
    color: #fff !important;
    opacity: .5;
    -webkit-transition: opacity .1s linear;
}
.bg-faded li.active a {
    opacity: 1 !important;
}
.bg-faded a:hover {
    opacity: 1;
}
.editable {
    min-height: 300px;
}
.dropzone {
    width:150px;
    height:150px;
    border:2px dashed grey;
    float: left;
    position: relative;
    color: grey;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 10px;
}
.dropzone.drag-over {
    color: #fff;
    background-color: lightskyblue;
    border:3px dashed #fff;
}
.dropzone i {
    width: 100%;
    margin-top: 10px;
    font-size: 40px;
}
.dropzone span {
    width: 100%;
    display: block;
    padding: 5px;
    font-weight: bold;
}
.main-article-img-container {
    margin: 0 0 0 15px;
    float: left;
}
.main-article-img-container img {
    height:110px;
}
.main-article-gal-container img {
    height: 150px;
    margin: 0 0 0 15px;
    float: left;
}
.img-box {
    position: relative;
    float: left;
    margin-bottom: 10px;
}
i.fa-trash-o {
    cursor:pointer;
}
.img-box i.fa-trash-o {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color:#ff4c4c;
}


