<!-- Settings template -->
<script type="text/template" id="settings_template">
  <h2><i class="fa fa-cogs"></i> Settings</h2>
  <div class="clearfix"></div>
  <form>
    <fieldset class="form-group">
      <label for="adminEmail">Email site</label>
      <input type="email" data-field="email" class="form-control" id="adminEmail" placeholder="Enter email">
      <small class="text-muted">Email utilisé pour les formulaires contact du site.</small>
    </fieldset>
    <fieldset class="form-group">
      <label for="titreSite">Site title</label>
      <input type="text" data-field="title" class="form-control" id="titreSite" placeholder="Site title">
    </fieldset>
    <fieldset class="form-group">
      <label for="sloganSite">Site slogan</label>
      <input type="text" data-field="slogan" class="form-control" id="sloganSite" placeholder="Site slogan">
    </fieldset>
    <button type="submit" class="btn btn-primary">Enregistrer les options</button>
  </form
</script>

<!-- Home template -->
<script type="text/template" id="home_template">
  Home page
</script>

<!-- Article template -->
<script type="text/template" id="articles_template">
  Article page
</script>
