  </div>
  <a class="disclaimer" href="https://twitter.com/phabos1" target="_blank">Made with love by phabos</a>
  <script type="text/javascript" src="{{ base_url }}webroot/js/angular-custom.js?ver=1.0.0"></script>
  <script type="text/javascript" src="{{ base_url }}webroot/js/classie.js?ver=1.0.0"></script>
  <script type="text/javascript" src="{{ base_url }}webroot/js/angular-animate.js?ver=1.0.0"></script>
  <script type="text/javascript" src="{{ base_url }}webroot/js/angular-sanitize.js?ver=1.0.0"></script>
  <script type="text/javascript" src="{{ base_url }}webroot/js/angular-touch.js?ver=1.0.0"></script>
  <script type="text/javascript" src="{{ base_url }}webroot/js/angular-carousel.js?ver=1.0.0"></script>
  <script type="text/javascript" src="{{ base_url }}webroot/js/loading-bar.js?ver=1.0.0"></script>
  <script type="text/javascript" src="{{ base_url }}webroot/js/angular-route.js?ver=1.0.0"></script>
  </body>
</html>
