<!DOCTYPE html>
<html lang="fr" class="no-js">
	<head>
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
  	<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Leo's Knit - a blog about Knitting</title>
		<meta name="description" content="Le Knit, c'est chic">
		<meta name="keywords" content="knit, yarn, tricot">
		<meta name="author" content="Phabos">
    <link rel="stylesheet" id="normalize-css" href="{{ base_url }}webroot/css/normalize.css?ver=1.0.0" type="text/css" media="">
    <link rel="stylesheet" id="style1-css" href="{{ base_url }}webroot/css/style1.css?ver=1.0.0" type="text/css" media="">
    <link rel="stylesheet" id="fontawesome-css" href="{{ base_url }}webroot/fonts/font-awesome-4.3.0/css/font-awesome.min.css?ver=1.0.0" type="text/css" media="">
    <link rel="stylesheet" id="angularLoadingCss-css" href="{{ base_url }}webroot/css/loading-bar.css?ver=1.0.0" type="text/css" media="">
    <link rel="stylesheet" id="carouselCss-css" href="{{ base_url }}webroot/css/angular-carousel.css?ver=1.0.0" type="text/css" media="">
    <script type="text/javascript" src="{{ base_url }}webroot/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ base_url }}webroot/js/angularjs.js?ver=1.0.0"></script>
    <script type="text/javascript" src="{{ base_url }}webroot/js/modernizr.custom.js?ver=1.0.0"></script>
    <script type="text/javascript" src="{{ base_url }}webroot/js/jquery.arctext.js?ver=1.0.0"></script>
    <script type="text/javascript" src="{{ base_url }}webroot/js/custom.js?ver=1.0.0"></script>
	</head>
	<body ng-app="leoKnitApp">
		<div class="container">
      	<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
  		<div id="theSidebar" class="sidebar">
  			<button class="close-button fa fa-fw fa-close"></button>
  			<h1 id="header1">French Knit</h1>
  			<div class="svg-container">
  				<img src="{{ base_url }}webroot/img/logo.jpg" />
  			</div>
  			<h1 id="header2">Le Knit c'est chic</h1>
  			<div class="clearfix"></div>
  			<div class="contact">
  				<a href="#/" class="text">Home</a>
  				<div class="clearfix"></div>
  				<a href="#/contact" class="text">Contact</a>
  			</div>
  			<div class="clearfix"></div>
  			<a class="social" href="https://instagram.com/leonorsknit/" target="_blank"><i class="fa fa-instagram"></i></a>
  		</div>
