{% include 'admin/header.html' %}
<!-- Article template -->
<script type="text/template" id="articles_list_template">
  <h2>Liste des articles</h2>
  <div class="clearfix"></div><br/>
  <div class="form-inline search">
    <input type="text" class="form-control pull-left" value="<%=query%>" placeholder="Rechercher un article" id="search_for" />
    <button class="btn btn-default pull-left btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
    <button class="btn btn-default pull-left btn-refresh"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div><br/>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(articles, function (article) { %>
            <tr>
              <th scope="row"><%= article.id %></th>
              <td><%= article.title %></td>
              <td><%= article.date_creation %></td>
              <td><% if( article.status == 0 ){ %>En attente<% }else{ %>Publié<% } %></td>
              <td><a href="/admin/article-edit/<%= article.id %>"><i class="fa fa-pencil-square-o"></i></a> | <a href="/admin/article-delete/<%= article.id %>" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <div class="pull-center">
        <a href="{{ path( 'adminarticles' ) }}" class="btn btn-primary more"><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Older posts</a>
        <div class="cleafix"></div><br/>
        <a href="{{ path( 'adminarticlesadd' ) }}" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> Nouvel article</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</script>
{% include 'admin/scripts.html' %}
<script>
  /*******************************/
  /*******  Articles List  ********/
  /*******************************/
  var ArtilcesList = Backbone.View.extend({
    el: $("#main_content"),
    offset: 0,

    initialize: function(){
      this.articles = new Articles;
      this.query = '';
      this.loadArticles();
      _.bindAll( this, 'render' );
      this.articles.on( 'change', this.render );
      this.articles.on( 'remove', this.render );
      this.articles.on( 'add', this.render );
      this.render();
    },

    events: {
      "click a.delete": "confirmDelete",
      "click .pull-center .more": "loadArticlesEvent",
      "click .btn-search": "searchArticle",
      "click .btn-refresh": "searchRefresh"
    },

    searchRefresh:function(event) {
      event.preventDefault();
      this.offset = 0;
      this.query = '';
      this.loadArticles();
    },

    searchArticle:function(event) {
      event.preventDefault();
      this.offset = 0;
      this.query = jQuery('#search_for').val();
      this.articles.fetch({
        data: $.param({ search: jQuery('#search_for').val() }),
        success: function( data ){
          if(data.length == 0)
            App.animateResponse('Aucun article trouvé :(');
          else
            App.animateResponse('Articles chargés');
        }
      });

    },

    loadArticlesEvent:function(event) {
      event.preventDefault();
      this.loadArticles();
    },

    loadArticles: function() {
      var obj = this;
      App.animateBtn();
      this.articles.fetch({
        data: $.param({ offset: this.offset}),
        success: function( data ){
          if(data.length == 0)
            App.animateResponse('Aucun article supplémentaire :)');
          else if(obj.offset > 1)
            App.animateResponse('Articles chargés');
        }
      });
      this.offset++;
    },

    confirmDelete: function(event) {
      if( !confirm("Tu es sur ?") ) {
          event.preventDefault();
      }
    },

    render: function(){
      var template = _.template( $("#articles_list_template").html() );
      this.$el.html( template( { articles: this.articles.toJSON(), query: this.query } ) );
    },

  });

  var Article = Backbone.Model.extend({
    url: '/admin/article/',

    initialize: function() {
      console.log('Here init article model ' + this.url);
    }

  });

  var Articles = Backbone.Collection.extend({
    url: '/admin/articles',
    model: Article
  });


  var article_list = new ArtilcesList;

</script>
{% include 'admin/footer.html' %}