<!-- Settings template -->
<script type="text/template" id="settings_template">
  <h2><i class="fa fa-cogs"></i> Settings</h2>
  <div class="clearfix"></div>
  <form class="settingsedit">
    <fieldset class="form-group">
      <label for="adminEmail">Email site</label>
      <input type="email" data-field="email" class="form-control" id="adminEmail" placeholder="Enter email" value="<%= settings.email %>">
      <small class="text-muted">Email utilisé pour les formulaires contact du site.</small>
    </fieldset>
    <fieldset class="form-group">
      <label for="titreSite">Site title</label>
      <input type="text" data-field="title" class="form-control" id="titreSite" placeholder="Site title" value="<%= settings.title %>">
    </fieldset>
    <fieldset class="form-group">
      <label for="sloganSite">Site slogan</label>
      <input type="text" data-field="slogan" class="form-control" id="sloganSite" placeholder="Site slogan" value="<%= settings.slogan %>">
    </fieldset>
    <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Enregistrer les options</button>
  </form
</script>

<!-- Home template -->
<script type="text/template" id="home_template">
  Home page
</script>

<!-- Article template -->
<script type="text/template" id="articles_list_template">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(articles, function (article) { %>
        <tr>
          <th scope="row"><%= article.id %></th>
          <td><%= article.title %></td>
          <td><a href="#/articleedit/<%= article.id %>"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</script>

<!-- Article edit template -->
<script type="text/template" id="articles_edit_template">
  <div class="pull-right"><small><a href="#/articles"><i class="fa fa-share"></i> Retour à la liste des articles</a></small></div>
  <h2><i class="fa fa-paragraph"></i> Edition de l'article <%= article.id %></h2>
  <div class="clearfix"></div>
  <form class="articleedit">
    <fieldset class="form-group">
      <div id="dropzone" class="dropzone">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Ajouter votre image principale ici</span>
      </div>
      <div id="main-article-img-container" class="main-article-img-container">
        <% if ( article.image != null ) { %>
          <img src="<%= article.image %>" id="main-article-img" />
        <% }else{ %>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" id="main-article-img" />
        <% } %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <label for="postTitle">Titre du post</label>
      <input type="text" data-field="title" class="form-control" id="postTitle" placeholder="postTitle" value="<%= article.title %>">
      <!--small class="text-muted">Email utilisé pour les formulaires contact du site.</small-->
    </fieldset>
    <fieldset class="form-group">
      <label for="postExcerpt">Extrait du post</label>
      <input type="text" data-field="excerpt" class="form-control" id="postExcerpt" placeholder="postExcerpt" value="<%= article.excerpt %>">
      <!--small class="text-muted">Email utilisé pour les formulaires contact du site.</small-->
    </fieldset>
    <fieldset class="form-group">
      <label for="postContent">Contenu du post</label>
      <div class="editable form-control" id="postContent"><%= article.content %></div>
    </fieldset>
    <fieldset class="form-group">
      <label for="postGallery">Galerie</label>
      <div class="clear"></div>
      <div id="gal-dropzone" class="dropzone">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Ajouter des images ici</span>
      </div>
      <div id="main-article-gal-container" class="main-article-gal-container">
        <% if ( article.gallery != null ) { %>
          <% _.each( article.gallery, function ( img, index ) { %>
            <div class="img-box"><img src="<%= img %>" /><i class="fa fa-trash-o img-delete" aria-hidden="true"></i></div>
          <% }); %>
        <% } %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <label for="postTags">Tags</label>
      <div><%= article.tags %></div>
    </fieldset>
    <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Enregistrer l'article</button>
  </form>
</script>
