{% include 'admin/header.html' %}
<!-- Home template -->
<script type="text/template" id="home_template">
  Hello dude, Hello buddy :)
  <a class="btn" href="/" target="_blank">Voir le site</a>
</script>
{% include 'admin/scripts.html' %}
<script>
    /*******************************/
    /*******    Home View    *******/
    /*******************************/
    var HomeView = Backbone.View.extend({
      el: $("#main_content"),

      initialize: function(){
        this.render();
      },

      render: function(){
        // Compile the template using underscore
        var template = _.template( $("#home_template").html() );
        // Load the compiled HTML into the Backbone "el"
        this.$el.html( template );
      },

    });

    var home = new HomeView;
</script>
{% include 'admin/footer.html' %}
