{% include 'admin/header.html' %}
<!-- Home template -->
<script type="text/template" id="home_template">
  <h2>Hello dude, Hello buddy :)</h2>
  <div class="clearfix"></div><br/>
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <h3>Site stat</h3>
        <div class="clearfix"></div><br/>
        Nb d'articles publiés : <span id="article_pub">...</span>
        <div class="clearfix"></div>
        <a class="btn" href="/" target="_blank">Voir le site</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h3>Weather today</h3>
        <div class="clearfix"></div><br/>
        <span id="weather">...</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h3>Google analytics</h3>
        <div class="clearfix"></div><br/>
        <i>Comming soon</i>
      </div>
    </div>
  </div>
</script>
{% include 'admin/scripts.html' %}
<script>
    /*******************************/
    /*******    Home View    *******/
    /*******************************/
    var HomeView = Backbone.View.extend({
      el: $("#main_content"),

      initialize: function(){
        this.render();
      },

      render: function(){
        // Compile the template using underscore
        var template = _.template( $("#home_template").html() );
        // Load the compiled HTML into the Backbone "el"
        this.$el.html( template );

        $.get( '{{ path("adminarticles") }}?count=1', function( data ) {
          $( "#article_pub" ).html( data.total );
        });

        $.get( '{{ path("adminweather") }}', function( data ) {
          var src = data.weather[0].main;
          $( "#weather" ).html( '<img src="http://openweathermap.org/img/w/' + data.weather[0].icon + '.png"/><span class="info">Today weather is ' + data.weather[0].main + '<br/>' + data.weather[0].description + '<br/>Max: ' + data.main.temp_max + '°C<br/>Min: ' + data.main.temp_min + '°C</span>' );
        });
      },

    });

    var home = new HomeView;
</script>
{% include 'admin/footer.html' %}
