<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>FrenchKnit</title>
    <!-- === Styles Twitter Bootstrap -->
    <link href="{{ base_url }}webroot/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}webroot/css/custom-admin.css" rel="stylesheet">
    <link href="{{ base_url }}webroot/css/dashboard.css" rel="stylesheet">
    <link href="{{ base_url }}webroot/wysiwyg/css/medium-editor.min.css" rel="stylesheet">
    <link href="{{ base_url }}webroot/wysiwyg/css/themes/beagle.min.css" rel="stylesheet">
    <link rel="stylesheet" id="fontawesome-css" href="{{ base_url }}webroot/fonts/font-awesome-4.3.0/css/font-awesome.min.css" type="text/css" media="">
  </head>
  <body>
    <div class="message" id="message"></div>
    <nav class="navbar navbar-light navbar-full navbar-fixed-top bg-faded">
      <ul class="nav navbar-nav">
        <li class="nav-item {% if current_page_name == 'adminindex' %}active{% endif %}">
          <a class="nav-link" href="{{ path('adminindex') }}">Home</a>
        </li>
        <li class="nav-item {% if current_page_name == 'adminarticles' %}active{% endif %}">
        <a class="nav-link" href="{{ path('adminarticles') }}">Articles</a>
        </li>
        <li class="nav-item {% if current_page_name == 'adminsettings' %}active{% endif %}">
          <a class="nav-link" href="{{ path('adminsettings') }}">Settings</a>
        </li>
      </ul>
      <a class="navbar-brand pull-xs-right" href="#">FrenchKnit - Admin Dashboard</a>
    </nav>
    <div class="container-fluid">
     <div class="row">
       <div class="col-sm-12 main">
        <div id="main_content"></div>
